* {font-size:11px;}
h2 {font-family:Helvetica, Arial, sans-serif;font-size:12px;background-color: #fff; font-weight: bold; line-height:25px; margin-bottom:2px; padding-left:5px;}
table {width:100%;border-collapse:collapse;border: 1px #ccc solid;background-color:#fff;}
.r {background-color: #fdd;}
.rr {background-color: #faa;}
.a {background-color: #dfd;}
.aa {background-color: #afa;}
.title {background-color: #fff; border: 1px solid #ccc; padding: 10px;font-family:Helvetica, Arial, sans-serif;font-size:12px;}
tr {color:#000;font-family: "Monaco","Courier",monospace}
.ln {width: 35px;background-color: #fff; border-right: 1px solid #ccc; padding-right: 3px; font-weight: bold; text-align:right}
